@using OnlineStore.Models.Concrete
@model Cart

@if (Model.CartLines.Count()>0)
{
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-12">
                <h2>Alışveriş Sepeti</h2>
                <hr />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Adet</th>
                            <th>Ürün Adı</th>
                            <th>Fiyat</th>
                            <th>Toplam Fiyat</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cartLine in Model.CartLines)
                        {
                            <tr>
                                <td>
                                    <img src="@cartLine.Product.ImageUrl" alt="@cartLine.Product.ProductName" width="50" style=" border-radius:7px; border:1px  solid #bbb9b9" />
                                </td>
                                <td>@cartLine.Quantity</td>
                                <td>@cartLine.Product.ProductName</td>
                                <td>@cartLine.Product.UnitPrice</td>
                                <td>@((cartLine.Product.UnitPrice * cartLine.Quantity).ToString("c"))</td>
                                <td>
                                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                                    {
                                        @Html.Hidden("Id", cartLine.Product.Id)
                                        <button type="submit" class="btn btn-danger" style="width:100px">
                                            <i class="fa fa-trash" aria-hidden="true"></i> Sil
                                        </button>
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5"></td>
                            <td>
                                @Model.Total().ToString("c");
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="/Home/Categories" class="btn btn-primary">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Alışverişe Devam Et</a>
        <a href="/Cart/Checkout" class="btn btn-primary">
            <i class="fa fa-check" aria-hidden="true"></i>
            Alışverişi Tamamla</a>
    </div>
}else
{
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p class="mb-0"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Alışveriş sepetinizde ürün bulunmamaktadır.</p>
    </div>
}

    
